<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>start</title>
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            // 此处new Vue大写！
            var app = new Vue({
                // 选择器
                el: '#box',
                data: {
                    msg: 'Hello Vue.js!',
                    arr: ['1', '2', '3', '4'],
                    json: {
                        a: 'apple',
                        b: 'orange',
                        c: 'banana'
                    },
                    vs: true
                },
                // 添加方法
                methods: {
                    // 定义方法
                    addArr: function () {
                        // alert(this.arr);
                        this.arr.push(7);
                    },
                    hide: function () {
                        var vs = this.vs;
                        if (vs == true) {
                            this.vs = false;
                        } else {
                            this.vs = true;
                        }
                    }
                }
            });
        }
    </script>
</head>
<body>
<div id="box">
    <div>
        <hr>
        <h2>v-model 双向绑定</h2>
        {{msg}}
        <br>
        <input type="text" name="" v-model="msg">
        <br>
        数组：{{arr}}
        <br>
        json:{{json}}
    </div>

    <div>
        <h2>v-for vue循环指令(todo in todos)[(todo index) in todos] </h2>
        <h4>value in arr:</h4>
        <ul>
            <li v-for="value in arr">
                {{value}}
            </li>
        </ul>
        <hr>
        <h4>value in json</h4>
        <ul>
            <li v-for="value in json">
                {{value}}
            </li>
        </ul>
        <hr>
        <h2>"{v}""{k}"键值对 </h2>
        <ul>
            <li v-for="(k,v) in json">
                {{v}} {{k}}
            </li>
        </ul>
        <hr>
    </div>

    <div>
        <!-- 	<input type="button" name="" value="btn" onclick="alert('2333')"> -->
        <h2> v-on 添加事件 （后面要跟具体事件触发v-on:click=add()）</h2>
        <input type="button" name="" value="双击添加数组" v-on:dblclick="addArr()">
        <hr>
        <h2>v-show 显示隐藏</h2>
        <input type="button" name="" value="点击隐藏/显示" v-on:click="hide()">
        <div style="width: 100px;height: 100px;background: green;" v-show="vs">
        </div>
        <hr>
    </div>

</div>
</body>
</html>